<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.Ext${className}Mapper">


    <select id="list" resultType="${package}.${moduleName}.dto.response.${className}ListResponse">
        SELECT *
        FROM ${tableName}
        WHERE organization_id = #{orgId}
    </select>

    <select id="checkAddExist" resultType="java.lang.Boolean">
        SELECT COUNT(1)
        FROM ${tableName}
        WHERE name = #{${classname}.name} and organization_id = #{${classname}.organizationId} limit 1
    </select>

    <select id="checkUpdateExist" resultType="java.lang.Boolean">
        SELECT COUNT(1)
        FROM ${tableName}
        WHERE name = #{${classname}.name}
          and organization_id = (
            select organization_id from ${tableName} where id = #{${classname}.id}
          )
          and id != #{${classname}.id} limit 1
    </select>
</mapper>