package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.dto.request.*;
import ${package}.${moduleName}.dto.response.*;
import org.apache.ibatis.annotations.Param;
import ${package}.${moduleName}.domain.${className};

import java.util.List;

/**
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface Ext${className}Mapper {

    List<${className}ListResponse> list(@Param("request") ${className}PageRequest request, @Param("orgId") String orgId);

    boolean checkAddExist(@Param("${classname}") ${className} ${classname});

    boolean checkUpdateExist(@Param("${classname}") ${className} ${className});
}
