package ${package}.${moduleName}.dto.request;

import lombok.Data;
import io.cordys.common.pager.condition.BasePageRequest;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}PageRequest extends BasePageRequest {

}
