package ${package}.${moduleName}.dto.request;

import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.*;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}UpdateRequest {
#foreach ($column in $columns)

#if(!($column.attrname.equals("createUser") || $column.attrname.equals("updateUser")
|| $column.attrname.equals("createTime") || $column.attrname.equals("updateTime")
|| $column.attrname.equals("organizationId") || $column.attrname.equals("internal")))
#if($column.columnName.equals("id"))
    @NotBlank
    @Schema(description = "$column.comments", requiredMode = Schema.RequiredMode.REQUIRED)
#if($column.attrType.equals("String"))
    @Size(max = $column.length)
#end
#else
    @Schema(description = "$column.comments")
#end
    private $column.attrType $column.attrname;
#end
#end
}