package ${package}.${moduleName}.domain;

import jakarta.persistence.Table;
import io.cordys.common.domain.BaseModel;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
public class ${className} extends BaseModel {
#foreach ($column in $columns)

	@Schema(description = "$column.comments")
	private $column.attrType $column.attrname;
#end
}
