package ${package}.${moduleName}.domain;

import jakarta.persistence.Table;

#if($extendBaseModel.equals("true"))
import cn.cordys.common.domain.BaseModel;
#end

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
public class ${className} #if($extendBaseModel.equals("true"))extends BaseModel#end {
#foreach ($column in $columns)
#if(!$extendBaseModel.equals("true") || (
!$column.attrname.equals("id")
&& !$column.attrname.equals("createTime") && !$column.attrname.equals("updateTime")
&& !$column.attrname.equals("createUser") && !$column.attrname.equals("updateUser")
)
)

	@Schema(description = "$column.comments")
	private $column.attrType $column.attrname;
#end
#end
}
