package ${package}.${moduleName}.dto.response;

import lombok.Data;
import io.swagger.v3.oas.annotations.media.Schema;
import ${package}.${moduleName}.domain.${className};
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}GetResponse extends ${className} {
#if($extendBaseModel.equals("true"))
    @Schema(description = "创建人名称")
    private String createUserName;

    @Schema(description = "更新人名称")
    private String updateUserName;
#end
}
